<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Dashboard</title>-->
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">-->
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">-->
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/aboutus.css}">-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">-->
<!--  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">-->
<!--</head>-->
<!--<body >-->

<!--<header th:replace="~{/fragments/header.html}"></header>-->
<!--<main style="background-color: #65CAD1">-->
<!--  <div class="main-div" >-->
<!--    <h2 class="h2-title">About us</h2>-->
<!--    <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, non! Nemo, quaerat. Tempore officiis maiores iure temporibus, doloribus dolor quas eos sint praesentium quia odit distinctio esse cupiditate modi nostrum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quo quibusdam animi illo distinctio alias dolore obcaecati corporis sint asperiores similique explicabo numquam aliquid id, provident porro assumenda ipsam nihil.</p>-->
<!--  </div>-->
<!--</main>-->

<!--<footer th:replace="~{/fragments/footer.html}"></footer>-->
<!--</body>-->
<!--</html>-->